
.areas {
    float: left;
    margin: 30pt;
}

#preview {
    width: 400pt;
    height: 850pt;
    border: 1pt solid black;
    padding: 5pt 20pt;
}

img {
    width: 300pt;
    height: 90pt;
}

#previewer {
    margin: 30pt default;
}

.header {
    text-align: center;
}